@tailwind base;
@tailwind components;
@tailwind utilities;

.primary {
  @apply text-[#7660b8]
}

/* Aplicamos margin-top cuyo valor será la función calc() */
/* Esta función calcula todo el alto de la pantalla (100dvh) y le resta 4rem */
.mt-screenH {
  margin-top: calc(100vh - 4rem); 
}

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#detach-button-host {
  display: none;
}